#title{
	text-align :center;
	font-size:200px;
	font-family: 'Covered By Your Grace', cursive;
	color: white;
}

div{
	color: white;
}

@media screen and (max-width:1024px)and(min-width:768px){
	#title{
		font-size: 100px;
		font-family: Arial;
		color: red;
	}
	#introduction{
		font-size: 80px;
		font-family: Garamond, Arial;
		color: red;	
	}

	.startsection{
		text-align: right;
		font-size: 70px;
		color: red;
	}
	.midsection{
		padding-top: 50px;
		text-align:right;
		font-size: 60px;
		color:red;
	}
	.endsection{
		padding-top: 50px;
		text-align:right;
		font-size: 60px;
		color: red;
	}
}	

body{
	border-radius: 5px;
	border: 2px solid #666666;
	height:1400px;
	width:1400px;
	background-image: url('images/background.jpg');
	background-size: cover;
	background-position:fixed;
	} 
}

#introduction{
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-weight: 400px;
	font-size: 70px;
	color: white;
	margin-bottom: 50px;
}
.right{
	text-align: left;
	padding-left: 40px;
}

.character-image{
	text-align:center;
	margin-left: auto;
	margin-right:auto;
}
#head-image img{
	height:300px;
	margin-bottom:-20px;
	z-index:1;
}
#middle-image img{
	height:300px;
	margin-top:-20px;
	z-index: 2;
}

.button{
	padding-top:80px;
}

#head-btn{
	background-color:blue;
	border: blue;
	color:white;
}
#middle-btn{
	background-color:#B266FF;
	border: blue;
	color:white;
}
#bottom-btn{
	background-color:blue;
	border: blue;
	color:white;
}

.startsection{
	padding-top: 110px;
	font-size:25px; 
	font-family:Papyrus;
}

.midsection{
	padding-top: 150px;
	font-size:25px; 
	font-family:Papyrus;
}

.endsection{
padding-top: 130px;
font-size:25px; 
font-family:Papyrus;
}

