#title{
	text-align :center;
	font-size:200px;
	font-family: 'Covered By Your Grace', cursive;
	color: white;
}

div{
	color: white;
}

body{
	border-radius: 5px;
	border: 2px solid #666666;
	height:1400px;
	width:1400px;
	background-image: url("http://hdwallpapersfit.com/wp-content/uploads/2015/03/magical-wallpaper.jpg");
	background-size: cover;
	background-position:fixed;
	}

#introduction{
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-weight: 400px;
	font-size: 70px;
	color: white;
	padding-bottom: 50px;
}
.right{
	text-align: left;
	padding-left: 40px;
}

.character-image{
	text-align:center;
}

.button{
	padding-top:80px;
}

#head-btn{
	background-color:blue;
	border: blue;
	color:white;
}
#middle-btn{
	background-color:#B266FF;
	border: blue;
	color:white;
}
#bottom-btn{
	background-color:blue;
	border: blue;
	color:white;
}

.startsection{
	padding-top: 110px;
}

.midsection{
	padding-top: 150px;
}

.endsection{
padding-top: 130px;
}


#head-img{
	text-align:center;
}
.headslideshow {
    position: relative; 
    width: 300px; 
    height: 300px;
}
.headslideshow img {
    position: absolute;
}
.headslideshow img:first-child {
    display: block;
}
