#title{
	text-align :center;
	font-size:200px;
	font-family: 'Covered By Your Grace', cursive;
	color: white;
}
#introduction p {
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	color: white;
	margin-bottom: 50px;
}

div{
	color: white;
}

@media screen and (max-width:1024px) and (min-width:768px) {
	#title{
		font-size: 100px;
		font-family: Arial;
		color: red;
	}

	#introduction p {
		font-size: 20px;
		font-family: Garamond, Arial;
		color: red;	
	}

	.startsection{
		text-align: right;
		font-size: 70px;
		color: red;
	}
	.midsection{
		padding-top: 50px;
		text-align:right;
		font-size: 60px;
		color:red;
	}
	.endsection{
		padding-top: 50px;
		text-align:right;
		font-size: 60px;
		color: red;
	}
}	

body{
	border-radius: 5px;
	border: 2px solid #666666;
	height:1400px;
	width:1400px;
	background-image: url('images/background.jpg');
	background-size: cover;
	background-position:fixed;
	} 
}

.right{
	text-align: left;
	padding-left: 40px;
}

.character-image{
	text-align:center;
	margin-left: auto;
	margin-right:auto;
}
#head-image img{
	height:200px;
	margin-top: 40px;
	margin-bottom:-20px;
	z-index:3;
	position: relative;
}
#head-image #head_1/*pig*/{
	height:240px;
	margin-bottom:-40px;
}
#head-image #head_2/*cat*/{
	height:240px;
	margin-bottom:-40px;
}
#head-image #head_3/*mike*/{
	margin-bottom: 0px;
}
#head-image #head_4/*shrek*/{
	margin-bottom:0px;
}
#middle-image img{
	height:210px;
	margin-top:-40px;
	margin-bottom:-30px;
	z-index: 2;
	position:relative;
}
#middle-image #middle_2 /*cowboy*/{
	height:280px;
	margin-bottom:-100px;
}

#middle-image #middle_3/*harry*/{
	height:250px;
	margin-bottom: -70px;
}
#middle-image #middle_4/*wonderwoman*/{
	height:230px;
	margin-bottom:-50px;
}

#bottom-image img{
	z-index:1;
	position: relative;
}
#bottom-image #bottom_1 /* legs*/ {

}
#bottom-image #bottom_2 /*mermaid*/{
	margin-top: -30px;
	padding-left: 30px;
}
#bottom-image #bottom_3 /* sully */{
	height:400px;
	width: 300px;
	margin-top: 10px;
	padding-left: 30px;
}
#bottom-image #bottom_4 /* big bird*/{
	height: 200px;
	margin-top: 10px;
	padding-left: 25px;
}

.button{
	padding-top:80px;
}

#head-btn{
	background-color:blue;
	border: blue;
	color:white;
}
#middle-btn{
	background-color:#B266FF;
	border: blue;
	color:white;
}
#bottom-btn{
	background-color:blue;
	border: blue;
	color:white;
}

.startsection{
	padding-top: 80px;
	font-size:23px; 
	font-family:Papyrus;
	padding-left: -50px;
}

.midsection{
	padding-top: 80px;
	font-size:23px; 
	font-family:Papyrus;
	padding-left: -50px;
}

.endsection{
padding-top: 80px;
font-size:23px; 
font-family:Papyrus;
padding-left: -50px;
}

